.about {
  background-color: var(--background-color_dark_2);
  padding-top: 120px;
  padding-bottom: 80px;
  &__descr {
    padding-top: 6px;

    .divider {
      margin: 0;
    }
  }
  &__title {
    position: relative;
    padding-left: 12px;
    @include before_circle;
  }
  &__text {
    color: var(--main-text-color);
    margin-top: 20px;
    font-size: 14px;
    line-height: 21px;
    &-highlight {
      color: var(--accent-color);
    }
  }
}
