@media (max-width: 1440px) {}

@media (max-width: 1200px) {
    .about {
        &__wrapper {
            grid-template-columns: 400px 520px;
            column-gap: 40px;
        }

        &__skills {
            grid-template-columns: repeat(2, 250px);
            column-gap: 20px;

            &-item {
                column-gap: 15px;
                grid-template-columns: 40px 195px;
            }
        }
    }
}

@media (max-width: 992px) {
    .about {
        &__wrapper {
            grid-template-columns: 320px 360px;
        }

        &__skills {
            grid-template-columns: 360px;
            grid-auto-rows: minmax(115px, auto);

            &-item {
                column-gap: 20px;
                grid-template-columns: 40px 300px;
            }
        }
    }
}

@media (max-width: 768px) {
    .about {
        padding-top: 80px;

        .title__section-subtitle {
            margin-bottom: 20px;
        }

        &__wrapper {
            grid-template: 480px auto auto / 1fr;
        }

        &__photo {
            grid-row: unset;
        }

        &__skills {
            grid-template-columns: repeat(2, 260px);

            &-item {
                grid-template-columns: 40px 200px;
                column-gap: 20px;
            }
        }
    }
}

@media (max-width: 576px) {
    .about {
        padding-top: 70px;

        &__wrapper {
            grid-template: 340px auto auto / 1fr;
        }

        &__skills {
            grid-template-columns: 1fr;
        }
    }
}