@media (max-width: 1440px) {}

@media (max-width: 1200px) {
    .portfolio {
        &__item {
            .title {
                font-size: 24px;
            }
        }
    }
}

@media (max-width: 992px) {}

@media (max-width: 768px) {
    .portfolio {
        padding-top: 80px;

        &__wrapper {
            margin-top: 20px;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(4, 1fr);
            .vertical_1 {
                grid-row: 2 / 4;
                grid-column: 3 / 4;
            }
            .vertical_2 {
                grid-row: 3 / 5;
                grid-column: 1 / 2;
            }
            .horizontal_2 {
                grid-row: 4 / 5;
                grid-column: 2 / 4;
            }
        }
    }
}

@media (max-width: 576px) {
    .portfolio {
        padding-top: 70px;

        &__wrapper {
            margin-top: 20px;
        }

        &__item {
            &_text {
                padding: 5px;
            }
            .title {
                font-size: 16px;
                line-height: unset;
            }
        }
    }
}