.promo {
  min-height: 100svh;
  position: relative;
  padding-top: 205px;
  &__title {
    width: 535px;
    margin-top: 10px;
  }
  &__subtitle {
    position: relative;
    padding-left: 10px;
    z-index: 1;
    @include before_circle;
  }
  &__btns {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 270px;
  }
  &__link {
    color: black;
    font-weight: bold;
    &:hover {
      color: #000;
      text-decoration: none;
    }
  }
  &__parallax {
    position: relative;
    // z-index: -1;
    min-height: 100svh;
    display: grid;
    grid-template-areas: "stack";
    & > * {
      grid-area: stack;
      animation: parallax linear;
      animation-timeline: scroll();
    }
  }
  &__foreground {
    position: absolute;
    inset: 0;
    background: url("../img/foreground.png") no-repeat 60% / cover; /* Change to your foreground image */
  }
  &__background {
    position: absolute;
    inset: 0;
    z-index: -1;
    background: url("../img/main_bg_3.jpg") no-repeat 60% / cover;
    --parallax-speed: 10;
  }
}

@keyframes parallax {
  to {
    transform: translateY(calc(var(--parallax-speed) * 200px));
  }
}
