:root {
  // --main-color: #FFA501;
  --main-color: #d3b377;
  // --main-color: #4BC2C1;
  --accent-color: rgb(255, 200, 107);
  --accent-color_01: rgba(255, 200, 107, 0.1);
  --background-color_dark: #34353a;
  --background-color_dark_1: #3d3e42;
  --background-color_dark_2: #31333b;
  --main-text-color: #f4f4f6;
}
