@mixin before_divider {
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: calc(50% - 10vw);
    height: 2px;
    background-color: var(--accent-color);
  }
}
