.contacts {
  position: relative;
  background-color: var(--background-color_dark_1);
  &__title {
    position: relative;
    top: -30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      margin: 0 20px;
      text-align: center;
    }
  }
  &__buttons {
    display: flex;
    gap: 20px;
    height: 180px;
    justify-content: center;
    align-items: center;
    &-contact {
      cursor: pointer;
      color: var(--accent-color);
      width: 320px;
      padding: 10px 20px;
      background-color: var(--background-color_dark_2);
      border-radius: 6px;
      svg {
        margin-right: 10px;
      }
    }
  }
  &__social {
    position: relative;
    bottom: -11px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-block {
      margin: 0 20px;
      text-align: center;
    }
  }
  &__link:not(:last-child) {
    margin-right: 25px;
  }
  .divider-long {
    position: relative;
    max-width: 100%;
    flex-grow: 1;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      height: 2px;
      width: 100%;
      background-color: var(--accent-color);
    }
  }
}
