@media (max-width: 1440px) {}

@media (max-width: 1200px) {
    .skills {
        &__progress {
            grid-template-columns: repeat(3, 290px);
        }

        &__item {
            padding: 20px;
            min-width: 240px;
        }
    }
}

@media (max-width: 992px) {
    .skills {
        &__wrapper {
            flex-wrap: wrap;
        }

        &__item {
            flex-basis: 35%;

            &:nth-child(4) {
                margin-left: 0;
            }

            &:hover~.skills__item {
                transform: none;
            }

            &-top {
                &:hover~.skills__item-top {
                    transform: translateX(130px);
                }
            }
            &-bot {
                &:hover~.skills__item-bot {
                    transform: translateX(130px);
                }
            }
        }

        &__progress {
            grid-template-columns: repeat(2, 330px);
            column-gap: 60px;
        }
    }
}

@media (max-width: 768px) {
    .skills {
        padding-top: 80px;

        &__wrapper {
            padding: 40px 10px;
        }

        &__progress {
            margin-top: 80px;
            grid-template-columns: repeat(2, 250px);
            column-gap: 40px;
        }
    }
}

@media (max-width: 576px) {
    .skills {
        padding-top: 70px;

        .title__section-subtitle {
            margin-top: 20px;
            line-height: 36px;
        }

        &__wrapper {
            padding: 20px 10px 40px;
            flex-direction: column;
            align-items: center;
        }
        &__item {
            flex-basis: unset;
            width: min-content;
            margin-left: 0 !important; //overriding higher specificity of :nth-child() selectors

            &:not(:first-child) {
                margin-top: -130px;;
            }

            &:hover ~ .skills__item {
                transform: translateY(110px);
            }
        }

        &__progress {
            position: relative;
            z-index: 11;
            grid-template-columns: 300px;
            justify-content: center;
        }
    }
}